    <h1 class="titulo-actividades">Atracciones Turísticas</h1>
   <section class="content-carts">
    {{#each buscarActividad}}
        <div class="carts">
            <img class="foto-actividad" src="/img/imag_Actividades/{{URL_ImagenActividad}}" alt="Foto Actividad {{Nombre_Actividad}}">
            <div class="container-descripcion-actividad">
                <div class="container-text-actividad"><h4 class="actividad-title">{{Nombre_Actividad}}</h4></div>
                <div class="calificacion-estrella">
                    <img class="estrella-im" src="img/estrella (1).png" alt=""><span class="calificacion-valor-actividad">{{calificacion}}</span>
                </div>
                <div class="ubicacion-actividad"><i class="fa-solid fa-location-dot"></i> {{Nombre_Ciudad}}, {{Nombre_Pais}}</div>
                <div class="call-on-actividad">
                    <a class="boton-call-on-actividad" href="/ver_actividad/{{IDActividad}}">Ver Actividad</a>
                </div>
            </div>
        </div>
        {{/each}}
   </section>
   

    
<