
<!-- CONTENIDOOO -->
<div class="container-ver-actividad">
    <div class="Seccion-principal-actividad">
        <div class="encabezado-principal">
            <div class="titulo-container"><h3>{{actividad.Nombre_Actividad}}</h3></div>
            <div class="actividad-favorito">
                <form action="/cambioFavorito/{{actividad.ID_ActividadTuristica}}" method="POST" class="actividad-favorito">
                <button type="submit" style="background: none; border: none; cursor: pointer;">
                    Me interesa
                    {{#if actividad.EsFavorito}}
                        <img src="/img/favoritoTrue.png" alt="Favorito activado">
                    {{else}}
                        <img src="/img/favoritoFalse.png" alt="Favorito desactivado">
                    {{/if}}
                </button>
                </form>
            </div>
        </div>

        <div class="mini-descripcion"><h4>{{actividad.Nombre_TipoActividadTur}}</h4></div>
        <div class="img-actividad-ver">
            <img src="/img/imag_Actividades/{{actividad.URL_ImagenActividad}}" alt="{{actividad.URL_ImagenActividad}}">
        </div>
        <div class="reservar-actividad">
            <h3 class="precio">$ {{actividad.Precio_Actividad}}</h3> 
            <a href="">Reservar</a>
        </div>
        
        <h2>Acerca del Lugar</h2>
        <p>{{actividad.Descripcion_Actividad}}</p>
    </div>

    <h2>Fechas Disponibles</h2>
        <div class="seccion-disponibilidad">
            {{#if fechas}}
            {{#each fechas.[0]}}
            <div class="tarjeta">
                <div class="cuerpo-card">
                    <div class="encabezado"><h3>{{mes}} {{dia}}</h3></div>
                    <div class="cuerpo">
                        <h5 class="año-tarjeta">{{año}}</h5>
                        <h1 class="hora-tarjeta">{{hora}}</h1>
                    </div>
                </div>
            </div>
                {{/each}}
        </div>
        {{else}}
            <div class="no-disponibilidad">
                    <div class="text-no"><h3>No hay disponibilidad</h3></div>
                    <div class="cuerpo-no">
                        <img src="/img/no-disponibilidad.png" alt="no hay disponibilidad">
                    </div>
            </div>   
        {{/if}}

</div>
