
<section class="sectionReserva">
    <div class="tituloReserva">
        <h2><i class="fi fi-ts-angle-left"></i> Solicitar Reserva</h2>
    </div>

    <div class="contenedorReserva">
        <div class="datosReserva">
            <div class="mensajePrecio">
                <h2 class="precioTitulo">¡Buen Precio! <i class="fi fi-tr-badge-percent"></i></h2>
                <p class="parrafoPrecio">El precio en las fechas que elegiste es $75,848 COP más bajo que la tarifa promedio por noche de los últimos 3 meses.</p>
            </div>
            <div class="tuViaje">
                <h2 class="viajeTitulo">Tu viaje</h2>
                <div class="llegada-salida">
                    <div class="llegada">
                        <h3 class="llegada-text">Entrada</h3>
                        <h3 class="llegada-fecha">{{reservas.checkIn}}</h3>
                    </div>
                    <div class="salida">
                        <h3 class="salida-text">Salida</h3>
                        <h3 class="salida-fecha">{{reservas.checkOut}}</h3>
                    </div>
                </div>
                <h2 class="text-seleccion">Has seleccionado</h2>
                <h4 class="habi-seleccion">Habitaciones {{reservas.roomsCount}}, Niños {{reservas.childrenCount}} Adultos {{adultsCount}}</h4>
                <h4 class="habi-seleccion">Lugar: {{reservas.search}}</h4>
                <a class="btn-seleccion" href=""><button>Cambiar Seleccion</button></a>
            </div>
                
            <div class="ingresaDatos">
                <form action="/Reservas" method="post" >
                    <div class="nombres-form">
                        <div class="nombres">
                            <input type="text" id="nombre" name="nombre">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="nombres">
                            <input type="text" id="apellido" name="apellido">
                            <label for="nombre">Apellidos</label>
                        </div>
                    </div>
                    <div class="nombres-form">
                        <div class="nombres">
                            <input type="email" id="email" name="email">
                            <label for="nombre">Email</label>
                        </div>
                        <div class="nombres">
                            <select class="select-nombres" id="pais" name="pais">
                                <option selected>Seleccione Pais</option>
                                {{#each Hoteles}}
                                    <option value="{{this.ID_pais}}">{{this.Nombre_Pais}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="nombres-form">
                        <div class="nombres">
                            <input type="number" id="telefono" name="telefono">
                            <label for="nombre">Numero Telefono</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

            <div class="tipoPago">
                <div class="datosReserva2">
                    <div class="img-tipoPago">
                        <img class="img-pago" src="{{hotel.images.[1]}}" alt="">
                    </div>
                    <div class="textPago">
                        <h2 class="pagoName">{{hotel.name}}</h2>
                        <div class="icon-rating">
                            <h3 class="ratingPago">Calificacion: {{hotel.rating}}</h3>
                            <h4 class="ratingPago-star">★★★</h4>
                        </div>
                    </div>
                </div>
                <div class="cont-datosHotel">
                    <div class="datosHotel">
                        <h2 class="datos-titulo">Informacion de tu pedido</h2>
                        <div class="cont-total">
                            <h2 class="total">Total</h2>
                            <h3 class="txt-total">COP ${{precioTotal}}.000</h3>
                        </div>
                    </div>
                    <div class="impuestos">
                        <i class="fi fi-ts-money-transfer-coin-arrow icon-imp"></i>
                        <h3 class="txt-impuestos">Incluye impuestos y cargos</h3>
                    </div>
                </div>
            </div>
    </div>
    <button id="btn-reserva" type="submit" class="btn-reserva" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Reservar</button>
</section>

<!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Pago</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="nombres-form">
                    <div class="nombres">
                        <input type="text" id="nombre" name="">
                        <label for="nombre">Nombre Titular</label>
                    </div>
                    <div class="nombres">
                        <input type="text" id="nombre" name="">
                        <label for="nombre">Apellidos Titular</label>
                    </div>
                </div>
                <div class="nombres-form">
                    <div class="nombres">
                        <select class="select-nombres" id="" required>
                            <option selected>-- Seleccione Tarjeta --</option>
                            <option value="1">Visa</option>
                            <option value="1">Dinners Club</option>
                            <option value="1">American Express</option>
                        </select>
                    </div>
                    <div class="nombres">
                        <input type="number" id="nombre" name="" required>
                        <label for="nombre">Numero de tarjeta</label>
                    </div>
                </div>
                <div class="nombres-form">
                    <div class="nombres">
                        <select class="select-nombres" id="" required>
                            <option selected>-- Seleccione Año --</option>
                            <option value="1">01-Ene</option>
                            <option value="1">02-Feb</option>
                            <option value="1">03-Mar</option>
                            <option value="1">04-Abr</option>
                            <option value="1">05-May</option>
                            <option value="1">06-Jun</option>
                            <option value="1">07-Jul</option>
                            <option value="1">08-Ago</option>
                            <option value="1">09-Sep</option>
                            <option value="1">10-Oct</option>
                            <option value="1">11-Nov</option>
                            <option value="1">12-Dic</option>
                        </select>
                    </div>
                    <div class="nombres">
                        <input type="number" id="nombre" name="" value="2024" required>
                        <label for="nombre">Año</label>
                    </div>
                </div>
                <div class="nombres-form">
                    <div class="nombres">
                        <input class="inputCVC" type="number" id="nombre" name="" value="" required>
                        <label for="nombre">CVC</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btn-reservar" type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
            </div>
            </div>
        </div>
    </div>

