<div class="container-index">
        <img class="img-indexR" src="../img/Habitacion-img.jpg" alt="Viatge">
    </div>
    <div class="busqueda-index flex">
        <div class="busqueda-item">
            <h6 class="titulo-item">Destino</h6>
            <div class="subitem flex">
                <i class="fi fi-ts-marker icono-index"></i>
                <div class="dropdown">
                    <input id="dropdownBuscar" class="dropdownBtn subtitulo-item" placeholder="¿A donde quieres ir?">
                    <div id="dropContenido" class="dropdown-content">
                        {{#each Hoteles}}
                        <div class="datos-ciudad">
                            <span class="ciudad"><i class="fi fi-ts-marker icono-drop"></i>{{this.Nombre_Ciudad}}, {{this.Nombre_Pais}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="busqueda-item" id="abrir-modal">
            <h6 class="titulo-item itemT">Llegada</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-calendar-clock icono-index"></i>
                <h2 id="llegada" class="subtitulo-item">Agregar Fecha</h2>
            </div>
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item itemT">Salida</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-calendar-clock icono-index"></i>
                <h2 id="salida" class="subtitulo-item">Agregar Fecha</h2>
            </div>
            
        </div>
        <div class="busqueda-item" id="abrir-huesped">
            <h6 class="titulo-item">Personas/Habitaciones</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-users icono-index"></i>
                <h2 id="huesped/habitacion" class="subtitulo-item">2 Huespedes, 1 Habitacion</h2>
            </div>
        </div>
    </div>
    <div class="btn-buscar" id="btn-buscar">
        <a class="txt-buscar">Buscar</a>
    </div>

{{!-- MODAL CALENDARIO --}}
    <div id="calendarModal" class="modalHotel">
        <div class="modal-contenido">
            {{!-- <h3 id="FechaSeleccionada">Fechas seleccionadas</h3> --}}
            <div class="calendario">
                <div class="calenHeader">
                    <button id="prevbtn" class="btn-calendario">
                        <i class="fas fa-angle-left"></i>
                    </button>
                    <h2 id="mesActual"></h2>
                    <button id="nextbtn">
                        <i class="fas fa-angle-right"></i>
                    </button>    
                </div>
                <div class="dias-sem">
                    <span>Dom</span>
                    <span>Lun</span>
                    <span>Mar</span>
                    <span>Mie</span>
                    <span>Jue</span>
                    <span>Vie</span>
                    <span>Sab</span>
                </div>
                <div id="calenBody" class="calenBody">
                </div>
            </div>
        </div>
    </div>
    {{!-- MODAL HUESPEDES/HABITACIONES --}}
    <div id="huespedModal" class="modalHotel">
        <div class="modal-contenido">
            {{!-- <h3 id="FechaSeleccionada">Fechas seleccionadas</h3> --}}
            <div class="calendario">
                <div class="huesped flex-huesped">
                    <h2 class="text-huesped">Adultos</h2>
                    <div class="flex">
                        <i id="menos" class="fi fi-tr-minus-circle icono-huesped"></i>
                        <h3 id="cantidad" class="cont-huesped">0</h3>
                        <i id="mas" class="fi fi-tr-add icono-huesped"></i>
                    </div>
                </div>
                <div class="huesped flex-huesped">
                    <h2 class="text-huesped">Niños</h2>
                    <div class="flex">
                        <i id="menos1" class="fi fi-tr-minus-circle icono-huesped"></i>
                        <h3 id="cantidad1" class="cont-huesped">0</h3>
                        <i id="mas1" class="fi fi-tr-add icono-huesped"></i>
                    </div>
                </div>
                <div class="huesped flex-huesped">
                    <h2 class="text-huesped">Habitaciones</h2>
                    <div class="flex">
                        <i id="menos2" class="fi fi-tr-minus-circle icono-huesped"></i>
                        <h3 id="cantidad2" class="cont-huesped">0</h3>
                        <i id="mas2" class="fi fi-tr-add icono-huesped"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="sectionR">
    <div class="serviciosR">
        <ul class="listServiciosrR">
            <li class="servicioR">Info General</li>
            <li class="servicioR">Servicios</li>
            <li class="servicioR">Tipos de Habitaciones</li>
            <li class="servicioR">Calificaciones</li>
            <li class="servicioR">Ubicacion</li>
        </ul>
    </div>
    <div class="infoGR">
        <h2 class="Hname">{{hotel.name}}</h2>
        <div class="imgsInfo">
            <div class="imginfo">
                <img class="imginfos" src="{{hotel.images.[0]}}" alt="Imagen del hotel 1">
            </div>
            <div class="imgsInfo2">
                <div class="imgsInfo3">
                    <div class="imgsInfo2s">
                        <img class="imginfos" src="{{hotel.images.[1]}}" alt="Imagen del hotel 1">
                    </div>
                    <div class="imgsInfo2s2">
                        <img class="imginfos" src="{{hotel.images.[2]}}" alt="Imagen del hotel 1">
                    </div>
                </div>
                <div class="imgsInfo4">
                    <img class="imginfos" src="{{hotel.images.[3]}}" alt="Imagen del hotel 1">
                </div>
            </div>
        </div>
        <div class="desc-general">
            <h2 class="DescTitulo">Acerca del Lugar</h2>
            <div class="descripcion">
                <p>{{hotel.hostInfo.welcomeMessage}}</p>
                <p>{{hotel.hostInfo.neighboorhoodInfo}}</p>
            </div>
        </div>
            
    </div>
</section>
<section class="sectionSR">
    <h2 class="SRTitulo">--------------------------------------- Servicios ---------------------------------------</h2>
    <div class="ServiciosRoom">
        <div class="SRpopulares">
            <h2 class="SRpopTitulo">Mas populares <i class="fi fi-rs-flame"></i></h2>
            <ul class="SRpop">
                {{#each serviciosSimulados.[0].servicios}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="SRpopulares">
            <h2 class="SRpopTitulo">Generales <i class="fi fi-rr-circle-star"></i></h2>
            <ul class="SRpop">
                {{#each serviciosSimulados.[1].servicios}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="SRpopulares">
            <h2 class="SRpopTitulo">No Incluidos <i class="fi fi-ts-circle-quarters-alt"></i></h2>
            <ul class="SRpop">
                {{#each serviciosSimulados.[2].servicios}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>
<section class="habitaciones">
    <h2 class="habitacionesTitulo">Tipo de Habitaciones</h2>
    <div class="cont-habitaciones">
        <div class="cont-habi">
            <h2 class="habiTitulo">{{habitaciones.[2].Nombre_TipoHabitacion}}</h2>
            <img class="img-habi" src="../img/cama.png" alt="cama sencilla">
            <a class="btn-habitaciiones" href="Reservas?id={{hotel.order}}">
                Reservar Habitacion
            </a>
        </div>
        <div class="cont-habi">
            <h2 class="habiTitulo">{{habitaciones.[3].Nombre_TipoHabitacion}}</h2>
            <img class="img-habi" src="../img/habitacion.png" alt="cama sencilla">
            <a class="btn-habitaciiones" href="Reservas?id={{hotel.order}}">
                Reservar Habitacion
            </a>
        </div>
        <div class="cont-habi">
            <h2 class="habiTitulo">{{habitaciones.[4].Nombre_TipoHabitacion}}</h2>
            <img class="img-habi" src="../img/cama2.png" alt="cama sencilla">
            <a class="btn-habitaciiones" href="Reservas?id={{hotel.order}}">
                Reservar Habitacion
            </a>
        </div>
    </div>
    <div class="cont-habitaciones2">
        <div class="cont-habi">
            <h2 class="habiTitulo">{{habitaciones.[5].Nombre_TipoHabitacion}}</h2>
            <img class="img-habi" src="../img/cama.png" alt="cama sencilla">
            <a class="btn-habitaciiones" href="Reservas?id={{hotel.order}}">
                Reservar Habitacion
            </a>
        </div>
        <div class="cont-habi">
            <h2 class="habiTitulo">{{habitaciones.[6].Nombre_TipoHabitacion}}</h2>
            <img class="img-habi" src="../img/balcon-antiguo.png" alt="cama sencilla">
            <a class="btn-habitaciiones" href="Reservas?id={{hotel.order}}">
                Reservar Habitacion
            </a>
        </div>
        
    </div>
    </div>
    
</section>
